@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --cream: #f2ebe3;
  --dark-cyan: #3c8067;
  --darken-cyan: #1a4031;
  --white: #ffffff;

  --dark-blue: #1c232b;
  --grayish-blue: #6c7289;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
  color: var(--dark-blue);
}

h1 {
  font-size: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  color: var(--grayish-blue);
}

body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 21.25rem;
  border-radius: 0.625rem;
  margin: 2rem;
}

.card > picture {
  border-radius: 0.625rem 0.625rem 0 0;
  overflow: hidden;
}

.card > picture > img {
  width: 100%;
  display: block;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.card > picture > img:hover {
  transform: scale(1.1);
}

.card > .description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.card > .description > .stylized {
  font-size: 0.75rem;
  letter-spacing: 0.313rem;
  margin: 0;
}

.card > .description > h1 {
  line-height: 2rem;
}

.card > .description > p {
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.price > .priceheading {
  color: var(--dark-cyan);
  font-size: 2rem;
}

.price > .off {
  text-decoration: line-through;
  font-size: 0.75rem;
}

.btn-add {
  padding: 1rem 3.75rem;
  border-radius: 0.625rem;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark-cyan);
  color: var(--white);
  width: 100%;
  transition: background-color 0.3s;
}

@media (min-width: 768px) {
  .card > .description {
    justify-content: space-between;
  }

  .card {
    max-width: 37.5rem;
    flex-direction: row;
  }

  .card > picture {
    min-width: 50%;
    border-radius: 0.625rem 0 0 0.625rem;
  }

  .card > picture > img {
    width: 100%;
    display: block;
    flex-shrink: 0;
  }

  .btn-add {
    padding: 1rem 3.875rem;
  }
}

@media (hover: hover) {
  .btn-add:hover {
    background-color: var(--darken-cyan);
  }
}
